@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 221 24% 13%;
  --color-foreground: 0 0% 100%;
  --color-accent: 163 99% 38%;
  --color-accent-hover: 163 99% 28%;
  --color-surface: 221 7% 44%;
  --color-surface-hover: 221 7% 24%;
  --color-surface-foreground: 209 57% 17%;
  --color-error: 1.72 83.65% 59.22%;
  --color-error-hover: 1.72 83.65% 59.22%;
  --color-success: 216.9 100% 41.76%;
}

.dark {
  --color-background: 221.25 24.24% 12.94%;
  --color-foreground: 0 0% 100%;
  --color-accent: 163.3 98.98% 43.43%;
  --color-accent-hover: 163.3 98.98% 58.43%;
  --color-accent-darker: 163.3 98.98% 33.43%;
  --color-surface: 221.25 7.08% 44.31%;
  --color-surface-hover: 221.25 7.08% 34.31%;
  --color-surface-foreground: 209.41 57.3% 17.45%;
  --color-error: 1.72 83.65% 59.22%;
  --color-error-hover: 1.72 63.65% 49.22%;
  --color-success: 224.89 88.95% 53.53%;
}

@layer base {
  html {
    @apply scroll-smooth w-full;
  }

  body {
    @apply bg-background text-foreground w-full min-h-svh;
  }

  section {
    @apply p-4 min-h-svh;
  }

  footer {
    @apply px-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-foreground;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  p {
    @apply leading-none;
  }
  a {
    @apply no-underline text-accent hover:text-accent-hover [text-decoration-skip-ink:auto];
  }
}

@layer components {
  .btn {
    @apply h-fit inline-block bg-accent text-background font-semibold px-4 py-2 rounded-md leading-none hover:bg-accent-hover hover:text-background transition-colors duration-100 ease-in;
  }
  .btn-sm {
    @apply text-sm px-2 py-1;
  }
  .btn-lg {
    @apply text-lg px-6 py-3;
  }

  .btn-outline {
    @apply h-fit inline-block bg-transparent text-accent font-semibold px-4 py-2 rounded-md leading-none border border-accent hover:bg-accent-hover hover:text-background transition-colors duration-100 ease-in;
  }
  .btn-outline-sm {
    @apply text-sm px-2 py-1;
  }
  .btn-outline-lg {
    @apply text-lg px-6 py-3;
  }

  .with-border {
    @apply border border-accent rounded-sm;
  }

  .text-secondary {
    @apply text-surface;
  }

  .link {
    @apply text-accent hover:text-accent-hover transition-colors duration-100 ease-in;
  }

  .card {
    @apply bg-surface;
  }

  .inner-card {
    @apply bg-surface-foreground;
  }

  .dashboard-header {
    @apply flex justify-between items-center h-14 flex-shrink-0;
  }

  .table-main {
    @apply w-full text-sm table-auto text-left;
  }
  .table-main-blur {
    @apply blur-sm transition-all duration-200;
  }
  .table-head {
    @apply text-xs uppercase bg-surface text-foreground;
  }
  .table-th {
    @apply px-6 py-3;
  }
  .table-body-tr {
    @apply border-b bg-surface-foreground border-surface hover:bg-accent-darker hover:border-accent-darker;
  }
  .table-td {
    @apply px-6 py-4;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .border-test {
    @apply border;
  }
}
