:root {
  --color-background: 221 24% 13%;
  --color-foreground: 0 0% 100%;
  --color-accent: 163 99% 38%;
  --color-fill: 221 7% 44%;
  --color-fill-foreground: 209 57% 17%;
  --color-error: 2 84% 59%;
}

.dark {
  --color-background: 221 24% 13%;
  --color-foreground: 0 0% 100%;
  --color-accent: 163 99% 38%;
  --color-fill: 221 7% 44%;
  --color-fill-foreground: 209 57% 17%;
  --color-error: 2 84% 59%;
}
